/* ------- Root ------- */
:root {
  /* --- Color var --- */
  --body-background-Color: #f7f7f7;
  --searchBar-background-Color: #d7d7d7;
  --heading-Color : #FCFAEE;

  /* --- Spacing var --- */
  --padding-xs: 0.5rem;
  --padding-s: 0.8rem;
  --padding-md: 1rem;
  --padding-l: 1.4rem;
  --padding-xl: 1.8rem;
  --padding-2xl: 2rem;
  --padding-3xl: 2.4rem;

  /* --- font-size var --- */
  --font-xs: 0.8rem;
  --font-s: 1rem;
  --font-md: 1.4rem;
  --font-l: 1.8rem;
  --font-xl: 2rem;
  --font-2xl: 2.6rem;
  --font-3xl: 3rem;
  --heading-Size :5rem ;

  /* --- Height var --- */
  --incomeBox-height: 20rem;
}

/* ------- Base ------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: var(--body-background-Color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  color: black;
}

body {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: max-content auto max-content;
  gap: 10px;
  grid-template-areas:
    "aside header header"
    "aside  main main"
    "aside footer footer";
  padding:  var(--padding-xs);
}

/* ------- Header ------- */
header {
  grid-area: header;
  padding: var(--padding-l) 0;
}

header input {
  width: 70%;
  border: none;
  background-color: var(--searchBar-background-Color);
  border-radius: var(--padding-xs);
  font-size: var(--font-l);
  padding: var(--padding-xs) var(--padding-s);
}

/* ------- Main ------- */
main {
  grid-area: main;
  display: flex;
  border: 1px solid;
  flex-direction: column;
}

main .budgetBox {
  width: 100%;
  height: var(--incomeBox-height);
  overflow: hidden;
  background-position: center;
}

main .budgetBox img{
  width: 100%;
  height: 100%;
  position: relative;
}

main .heading-text{
  position: absolute;
  top: 20%;
  left: 20%;
}

main .heading-text p {
  font-size: var(--font-l);
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--heading-Color);
}

main .heading-text h1{
  font-size: var(--heading-Size);
  font-weight: 900;
  letter-spacing: 1.6px;
  color: var(--heading-Color);
}

/* ------- Aside ------- */
aside {
  grid-area: aside;
  padding: 0 20px;
}

footer {
  background-color: gray;
  grid-area: footer;
}