/* ------- Root ------- */
:root {
  /* --- Color var --- */
  --body-background-Color: #0F766E;
  --main-bg-Color: #FAFAF9;
  --searchBar-background-Color: #ffffff;
  --banner-bg-Color: #d3f3ed;
  --heading-Color: #FCFAEE;
  --primary-Color: #111827;
  --secondary-color: #6B7280;
  --accent-color: #FCF8F8;
  --hover-bg-color: #bcf7eb;


  /* --- Spacing var --- */
  --padding-xs: 0.5rem;
  --padding-s: 0.8rem;
  --padding-md: 1rem;
  --padding-l: 1.4rem;
  --padding-xl: 1.8rem;
  --padding-2xl: 2rem;
  --padding-3xl: 2.4rem;
  --card-padding: 5rem;

  /* --- font-size var --- */
  --font-xs: 0.8rem;
  --font-s: 1rem;
  --font-md: 1.4rem;
  --font-l: 1.8rem;
  --font-xl: 2rem;
  --font-2xl: 2.6rem;
  --font-3xl: 3rem;
  --heading-Size: 5rem;

  /* --- Height var --- */
  --incomeBox-height: 20rem;

  /* --- border-radius --- */
  --border-r-s: 1rem;
  --border-r-md: 1.6rem;
  --border-r-l: 2rem;
}

/* ------- Base ------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: var(--body-background-Color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  color: white;
}

body {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: max-content auto max-content;
  gap: 10px;
  grid-template-areas:
    "aside right-content right-content"
    "aside right-content right-content"
    "footer footer footer";
  background-color: var(--body-background-Color);
  padding: var(--padding-s);
}

/* ------- Reusable Clases ------- */
.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p,
li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
}

/* ------- Right-content ------- */
.right-content {
  grid-area: right-content;
  background-color: var(--main-bg-Color);
  border-radius: var(--border-r-l);
  padding: var(--padding-l) var(--padding-3xl);
  flex-direction: column;
  gap: var(--padding-3xl);
}

/* ------- Header ------- */
.right-content header {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: var(--font-2xl);
  color: var(--body-background-Color);
  font-size: var(--heading-Size);
  font-weight: 900;
}

header input {
  width: 30%;
  border: 1px solid gray;
  background-color: var(--searchBar-background-Color);
  border-radius: var(--border-r-l);
  font-size: var(--font-xl);
  padding: var(--padding-s) var(--padding-md);
}

/* ------- Main ------- */
main {
  flex-direction: column;
}

main .banner {
  width: 100%;
  height: 30vh;
  align-items: center;
  justify-content: space-around;
  background-color: var(--banner-bg-Color);
  color: var(--body-background-Color);
  border-radius: var(--border-r-l);
  padding: var(--padding-md) var(--padding-3xl);
}

main .banner .left-content p {
  font-size: var(--font-l);
  letter-spacing: 1px;
  color: var(--primary-Color);
  font-weight: 500;
  margin-bottom: var(--padding-xs);
}

main .banner .left-content h2 {
  color: var(--primary-Color);
  font-size: var(--heading-Size);
  font-weight: 700;
}

main .banner .right-content {
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: transparent;
  padding: var(--padding-md) var(--padding-xl);
}

main .banner .right-content .box {
  background-color: var(--accent-color);
  font-size: var(--font-md);
  font-weight: 700;
  color: var(--secondary-color);
  padding: var(--padding-md) var(--padding-xl);
  border-radius: var(--border-r-md);
}

/* ------- Category Section ------- */
.categories {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: var(--padding-3xl);
}

.categories h3 {
  color: var(--body-background-Color);
  font-size: var(--font-2xl);
  font-weight: 500;
}

.categories .categoryList ul {
  list-style-type: none;
  color: var(--primary-Color);
  gap: var(--padding-2xl);
}

.categories .categoryList ul li {
  background-color: var(--banner-bg-Color);
  padding: var(--padding-s) var(--padding-md);
  border-radius: var(--border-r-s);
  font-size: var(--font-md);
}

.categories .categoryList ul li:hover {
  background-color: var(--hover-bg-color);
  scale: 1.1;
}

.expense-container {
  flex-direction: column;
  justify-content: center;
  gap: var(--padding-l);
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-r-l);
  padding: var(--padding-l) var(--padding-xl);
}

.expense-container .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--card-bg-color); */
  background-color: #E3E3E3;
  border-radius: var(--border-r-s);
  padding: var(--padding-s) var(--card-padding);
}

.expense-container .card .left-content {
  flex-direction: column;
  gap: var(--padding-xs);
  align-items: start;
}

.expense-container .card .left-content h4 {
  font-size: var(--font-l);
  color: var(--primary-Color);
}

.expense-container .card .left-content p {
  font-size: var(--font-md);
  color: var(--secondary-color);
}

.expense-container .card .right-text-area {
  flex-direction: column;
  gap: var(--padding-xs);
  align-items: center;
}

.expense-container .card .right-text-area p {
  font-size: var(--font-md);
  color: var(--secondary-color);
}

.expense-container .card .right-text-area p:first-child {
  font-size: var(--font-xl);
  color: red;
}

/* ------- Aside ------- */
aside {
  grid-area: aside;
  background-color: transparent;
  padding: var(--padding-2xl) var(--padding-l);
  border-radius: var(--padding-l);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .filter-section {
  padding: var(--padding-2xl) 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding-xl);
}

aside h3 {
  font-size: var(--font-2xl);
  margin-bottom: var(--padding-xs);
}

aside .date-filter input {
  padding: var(--padding-s) var(--padding-md);
  border: 1px solid var(--main-bg-Color);
  border-radius: var(--border-r-l);
  background-color: transparent;
  font-size: var(--font-md);
  color: var(--main-bg-Color);
  fill: var(--main-bg-Color);
}

aside .price-filter select {
  padding: var(--padding-s);
  border: 1px solid var(--main-bg-Color);
  border-radius: var(--border-r-l);
  background-color: transparent;
  color: var(--main-bg-Color);
  font-size: var(--font-md);
}

footer {
  background-color: gray;
  grid-area: footer;
}

.addExp {
  padding: var(--padding-xl) 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: var(--padding-l);
}

.addExp h4 {
  font-size: var(--font-xl);
}

.addExp input {
  display: block;
  padding: var(--padding-xs) var(--padding-s);
  border: none;
  border-radius: var(--padding-xs);
}

.addExp select {
  display: block;
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--padding-xs);
}

.addExp button {
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--border-r-s);
  border: none;
  background-color: var(--banner-bg-Color);
  font-size: var(--font-md);
  font-weight: 700;
}

.card button {
  padding: var(--padding-xs) var(--padding-s);
  border: none;
  border-radius: var(--border-r-s);
  background-color: var(--body-background-Color);
  color: var(--main-bg-Color);
  font-weight: 700;
}

.card .btnArea {
  align-items: center;
  gap: var(--padding-md);
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--padding-2xl);
  background: white;
  padding: var(--padding-xl) var(--padding-2xl);
  border-radius: var(--border-r-s);
  box-shadow: 0 var(--padding-xs) var(--padding-md) rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.3s ease-out;
}
.input-box input,select{
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--border-r-s);
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--banner-bg-Color);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.overlay.open{
  opacity: 1;
  z-index: 999;
}
.input-box .button-area{
  display: flex;
  justify-content: space-evenly;
}
.input-box .button-area button{
  padding: var(--padding-s) var(--padding-l);
  border: none;
  background-color: var(--body-background-Color);
  border-radius: var(--border-r-s);
  color: var(--main-bg-Color);
}
#errorEl {
  font-size: var(--font-l);
  color: red;
}