/* ------- Root ------- */
:root {
  /* --- Color var --- */
  --body-background-Color: #0F766E;
  --main-bg-Color : #FAFAF9;
  --searchBar-background-Color: #ffffff;
  --banner-bg-Color :#def2ee ;
  --heading-Color : #FCFAEE;
  --primary-Color :#111827 ;
  --secondary-color : #6B7280;
  --accent-color :#FEF3C7 ;


  /* --- Spacing var --- */
  --padding-xs: 0.5rem;
  --padding-s: 0.8rem;
  --padding-md: 1rem;
  --padding-l: 1.4rem;
  --padding-xl: 1.8rem;
  --padding-2xl: 2rem;
  --padding-3xl: 2.4rem;

  /* --- font-size var --- */
  --font-xs: 0.8rem;
  --font-s: 1rem;
  --font-md: 1.4rem;
  --font-l: 1.8rem;
  --font-xl: 2rem;
  --font-2xl: 2.6rem;
  --font-3xl: 3rem;
  --heading-Size :5rem ;

  /* --- Height var --- */
  --incomeBox-height: 20rem;

  /* --- border-radius --- */
  --border-r-s : 1rem;
  --border-r-md : 1.6rem;
  --border-r-l : 2rem;
}

/* ------- Base ------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: var(--body-background-Color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  color: white;
}

body {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: max-content auto max-content;
  gap: 10px;
  grid-template-areas:
    "aside right-content right-content"
    "aside right-content right-content"
    "footer footer footer";
  background-color: var(--body-background-Color);
  padding: var(--padding-s);
}
/* ------- Reusable Clases ------- */
.flex{
  display: flex;
}

/* ------- Right-content ------- */
.right-content{
  grid-area: right-content;
  background-color: var(--main-bg-Color);
  border-radius: var(--border-r-l);
  padding: var(--padding-l) var(--padding-3xl);
  flex-direction: column;
  gap: var(--padding-3xl);
}

/* ------- Header ------- */
.right-content header {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header h1{
  font-size: var(--font-2xl);
  color: var(--body-background-Color);
  font-size: var(--font-3xl);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
}
header input {
  width: 30%;
  border: 1px solid gray;
  background-color: var(--searchBar-background-Color);
  border-radius: var(--border-r-l);
  font-size: var(--font-xl);
  padding: var(--padding-s) var(--padding-md);
}

/* ------- Main ------- */
.right-content main {
  
}
main .banner{
  width: 100%;
  height: 30vh;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--banner-bg-Color);
  color: var(--body-background-Color);
  border-radius: var(--border-r-l);
  padding: var(--padding-md) var(--padding-3xl);
}
main .banner p{
  font-size: var(--font-xl);
  color: var(--primary-Color);
  font-weight: 500;
  margin-bottom: var(--padding-xs);
}
main .banner  h2{
  color: var(--primary-Color);
  font-size: var(--font-3xl);
  font-weight: 500;
}
/* ------- Aside ------- */
aside {
  grid-area: aside;
  background-color: transparent;
  padding: var(--padding-2xl) var(--padding-l);
  border-radius: var(--padding-l);
}

footer {
  background-color: gray;
  grid-area: footer;
}