/* ------- Root ------- */
:root {
  /* --- Color var --- */
  --body-background-Color: #0F766E;
  --main-bg-Color : #FAFAF9;
  --searchBar-background-Color: #ffffff;
  --banner-bg-Color :#d3f3ed ;
  --heading-Color : #FCFAEE;
  --primary-Color :#111827 ;
  --secondary-color : #6B7280;
  --accent-color :#FCF8F8;
  --hover-bg-color :#bcf7eb ;


  /* --- Spacing var --- */
  --padding-xs: 0.5rem;
  --padding-s: 0.8rem;
  --padding-md: 1rem;
  --padding-l: 1.4rem;
  --padding-xl: 1.8rem;
  --padding-2xl: 2rem;
  --padding-3xl: 2.4rem;

  /* --- font-size var --- */
  --font-xs: 0.8rem;
  --font-s: 1rem;
  --font-md: 1.4rem;
  --font-l: 1.8rem;
  --font-xl: 2rem;
  --font-2xl: 2.6rem;
  --font-3xl: 3rem;
  --heading-Size :5rem ;

  /* --- Height var --- */
  --incomeBox-height: 20rem;

  /* --- border-radius --- */
  --border-r-s : 1rem;
  --border-r-md : 1.6rem;
  --border-r-l : 2rem;
}

/* ------- Base ------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: var(--body-background-Color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  color: white;
}

body {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: max-content auto max-content;
  gap: 10px;
  grid-template-areas:
    "aside right-content right-content"
    "aside right-content right-content"
    "footer footer footer";
  background-color: var(--body-background-Color);
  padding: var(--padding-s);
}
/* ------- Reusable Clases ------- */
.flex{
  display: flex;
}
h1, h2, h3, h4, h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p, li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
}

/* ------- Right-content ------- */
.right-content{
  grid-area: right-content;
  background-color: var(--main-bg-Color);
  border-radius: var(--border-r-l);
  padding: var(--padding-l) var(--padding-3xl);
  flex-direction: column;
  gap: var(--padding-3xl);
}

/* ------- Header ------- */
.right-content header {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header h1{
  font-size: var(--font-2xl);
  color: var(--body-background-Color);
  font-size: var(--heading-Size);
  font-weight: 900;
}
header input {
  width: 30%;
  border: 1px solid gray;
  background-color: var(--searchBar-background-Color);
  border-radius: var(--border-r-l);
  font-size: var(--font-xl);
  padding: var(--padding-s) var(--padding-md);
}

/* ------- Main ------- */
main{
  flex-direction: column;
}
main .banner{
  width: 100%;
  height: 30vh;
  align-items: center;
  justify-content: space-around;
  background-color: var(--banner-bg-Color);
  color: var(--body-background-Color);
  border-radius: var(--border-r-l);
  padding: var(--padding-md) var(--padding-3xl);
}
main .banner .left-content  p{
  font-size: var(--font-l);
  letter-spacing: 1px;
  color: var(--primary-Color);
  font-weight: 500;
  margin-bottom: var(--padding-xs);
}
main .banner  .left-content h2{
  color: var(--primary-Color);
  font-size: var(--heading-Size);
  font-weight: 700;
}
main .banner .right-content{
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: transparent;
  padding: var(--padding-md) var(--padding-xl); 
}
main .banner .right-content .box{
  background-color: var(--accent-color);
  font-size: var(--font-md);
  font-weight: 700;
  color: var(--secondary-color);
  padding: var(--padding-md) var(--padding-xl);
  border-radius: var(--border-r-md);
}

/* ------- Category Section ------- */
.categories{
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: var(--padding-3xl);
}
.categories h3{
  color: var(--body-background-Color);
  font-size: var(--font-2xl);
  font-weight: 500;
}
.categories .categoryList ul{
  list-style-type: none;
  color: var(--primary-Color);
  gap: var(--padding-2xl);
}
.categories .categoryList ul li{
  background-color: var(--banner-bg-Color);
  padding: var(--padding-s) var(--padding-md);
  border-radius: var(--border-r-s);
  font-size: var(--font-md);
} 
.categories .categoryList ul li:hover{
  background-color: var(--hover-bg-color);
}
/* ------- Aside ------- */
aside {
  grid-area: aside;
  background-color: transparent;
  padding: var(--padding-2xl) var(--padding-l);
  border-radius: var(--padding-l);
}

footer {
  background-color: gray;
  grid-area: footer;
}